<h1>Listing events</h1>



<table width="100%">
  <tr>
    <td colspan="10">
      <h3>Events Signed Up For</h3>
    </td>
  </tr>
  <tr>
    <th>Title</th>
    <th>Duration</th>
    <th>Date</th>
    <th>Time</th>
    <th>Min users</th>
    <th>Current users</th>
    <th>Max users</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @events_in.sort { |a,b| a <=> b }.each do |event| %>
  <tr style="text-align:center">
    <td><%= event.title %></td>
    <td><%= event.duration %></td>
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= event.min_users %></td>
    <td><%= event.current_users %></td>
    <td><%= event.max_users %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  <br />
  <tr>
    <td colspan="10">
      <h3>Other Events</h3>
    </td>
  </tr>
  <tr style="text-align:center">
    <th>Title</th>
    <th>Duration</th>
    <th>Date</th>
    <th>Time</th>
    <th>Min users</th>
    <th>Current users</th>
    <th>Max users</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events_not_in.sort { |a,b| a <=> b }.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.duration %></td>
    <td><%= event.date %></td>
    <td><%= event.time %></td>
    <td><%= event.min_users %></td>
    <td><%= event.current_users %></td>
    <td><%= event.max_users %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to "Sign up",event_signup_path(:id => event.id) , class: 'btn btn-primary' , style: 'color:white'%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
