<p id="notice"><%= notice %></p>

<div class="span6">
<p>
  <b>ID:</b>
  <%= @event.id %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date.strftime("%I:%M%p") %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Min users:</b>
  <%= @event.min_users %>
</p>

<p>
  <b>Current users:</b>
  <%= @event.current_users %>
</p>

<p>
  <b>Max users:</b>
  <%= @event.max_users %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>
<div class="span5" style="min-height:300px">
<% @others_signed_up.each do |user|%>
<div class = "span2">
<%= "#{user.name}" %>
<%= "#{user.email}" %>
<%= "#{user.phone_number}" %>
</div>
<%end%>
</div>
<img class="span4" src=<%= "#{@event.image}" %> alt="some_text">
</div>

